<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
    
            <div class="container" style="margin-top: 34px;margin-bottom: 34px;">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block mx-auto">
                            <div class="text-center mb-5">
                                <h3 class="text-uppercase" style="font-size:21px;"><strong>Forgot Password</strong>
                                    
                                </h3>
                            </div>
                            <form action="/resetpassword/<%=userId%>" method="post">
                                <div class="form-group last mb-3">
                                    <label for="password">New Password</label>
                                    <input type="password" class="form-control" name="password"
                                        placeholder=" Your Password" id="password" onkeyup="validatePassword()" />
                                    <span id="password-error" class="validation-label text-danger"></span>
                                </div>
                                <div class="form-group last mb-3">
                                    <label for="password">Re-Enter Password</label>
                                    <input type="password" class="form-control" placeholder="Your Password"
                                        id="repassword" onkeyup="validateRePassword()" />
                                    <span id="repassword-error" class="validation-label text-danger"></span>
                                </div>
                                <button type="submit"  class="btn btn-block py-2 btn-dark"
                                    onclick="return validateForm()">Save</button>
                                <span id="submit-error" class="validation-label text-danger"></span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // USER CHANGE PASSWORD VALIDATION

       
        let passwordError = document.getElementById('password-error');
        let repasswordError = document.getElementById('repassword-error');
        let submitError = document.getElementById('submit-error');
        
        function validatePassword() {
            const password = document.getElementById('password').value;
            const passChecker = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;
            if (password.match(passChecker)) {
                passwordError.innerHTML = '';
                return true;
            } else {
                passwordError.innerHTML = 'required 6-20 character,1 numeric digit, 1 uppercase and 1 lowercase';
                return false;
            }
        }

        function validateRePassword() {
            const password = document.getElementById('password').value;
            const repassword = document.getElementById('repassword').value;
            if (password !== repassword) {
                repasswordError.innerHTML = "password doesn't match";
                return false
            } else {
                repasswordError.innerHTML = " ";
                return true;
            }
        }

        function validateForm() {
            if (!validateName() || !validateEmail() || !validatePassword() || !validateRePassword() || !validateMobileNumber()) {
                submitError.style.display = 'flex';
                submitError.style.justifyContent = 'center';
                submitError.innerHTML = 'Please fix all errors to submit';
                setTimeout(() => {
                    submitError.style.display = 'none';
                }, 3000);
                return false;
            }
        }
    </script>



</body>

</html>