<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="card login-card " style="width: 700px;">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img src="/images/peakpx.jpg" alt="login" class="login-card-img" style="padding-top: -40px;">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <div class="brand-wrapper">
              <img src="/images/logo2 copy.png" alt="logo" class="logo">
            </div>
            <p class="login-card-description">OTP Verification</p>
            <a href="" class="text-danger">OTP send to your <%= mobile%></a>
            <% if (Message) { %>
              <div class="text-center mt-2">
                <span class="font-weight-bold text-danger">
                  <%=Message%>
                </span>
              </div>
              <% } %>

                <form action="/otpVerify" method="post">
                  <div class="form-group">
                    <input hidden name="mobile" id="mobile" value="<%= mobile%>">
                    <!-- <label for="email"  class="sr-only">Email</label> -->
                    <input type="tel" name="otp" id="otp" class="form-control" placeholder="Enter your OTP here ...">
                  </div>

                  <div>
                    <div id="countdown-timer" style="width: 184px;">resend OTP in 1 minute</div>
                  </div>

                  <div id="verifyOtp" class="col-md-12 " style="display: none;min-height: 0; position: relative;">
                    <p class="col-md-8" style="float: left; padding-left: 0;"> Don't receive the code?</p>
                    <p class="text-right text-primary p-1 cursor col-md-4" id="resend-otp" type="btn"
                      style=" cursor: pointer; float: right;">Resend OTP</p>

                  </div>
                  <input id="login" class="btn btn-block login-btn " style="margin-top: 25px;" type="submit"
                    value="verify">

                </form>

          </div>
        </div>
      </div>
    </div>
    
  </div>
</main>

<script>
  // Set the time limit for the OTP verification (in seconds)
  const timeLimit = 60;

  // Get the countdown timer element
  const countdownTimer = document.getElementById("countdown-timer");
  const verifyOtp = document.getElementById("verifyOtp")
  // Initialize the timer value
  let timerValue = timeLimit;

  // Update the timer value every second
  const countdownInterval = setInterval(() => {
    timerValue--;
    const minutes = Math.floor(timerValue / 60);
    const seconds = timerValue % 60;
    countdownTimer.innerHTML = `resend OTP in: ${minutes}:${seconds
      .toString()
      .padStart(2, "0")} minutes`;

    // If the timer reaches zero, clear the interval and disable the form
    if (timerValue === 0) {
      clearInterval(countdownInterval);
      verifyOtp.style.display = "block";
      countdownTimer.style.display = "none";
    }
  }, 1000);


  const mobile = document.getElementById('mobile').value
  $('#resend-otp').click(() => {
    $.ajax({
      url: '/resendOTP',
      method: 'post',
      data: { mobile },
      success: (response) => {
        console.log(response);
        const timeLimit = 60;
        let timerValue = timeLimit;
        if (response) {
          verifyOtp.style.display = "none";
          countdownTimer.style.display = "block";
          const resendcountdownInterval = setInterval(() => {
            timerValue--;
            const minutes = Math.floor(timerValue / 60);
            const seconds = timerValue % 60;
            countdownTimer.innerHTML = `resend OTP in: ${minutes}:${seconds
              .toString()
              .padStart(2, "0")} minutes`;

            // If the timer reaches zero, clear the interval and disable the form
            if (timerValue === 0) {
              clearInterval(resendcountdownInterval);
              verifyOtp.style.display = "block";
              countdownTimer.style.display = "none";
            }
          }, 1000);
        }
      }
    })
  })
</script>