<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="card login-card " style="width: 700px;">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img src="/images/peakpx.jpg" alt="login" class="login-card-img" style="padding-top: -40px;">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <div class="brand-wrapper">
              <img src="/images/logo2 copy.png" alt="logo" class="logo">
            </div>
            <p class="login-card-description">OTP Login</p>


            
            <form action="/sendOTP" method="post">
              <div class="form-group">
                <!-- <label for="mobile"  class="sr-only">Mobile Number</label> -->
                <input type="tel" name="mobile" id="mobile" class="form-control"
                  placeholder="Mobile Number without country code">
              </div>
              <input class="btn btn-block login-btn mb-4" style="margin-top: 25px;" type="submit" value="send OTP">

            </form>
            <% if (Message) { %>
              <div class="text-center mt-4">
                <span class="font-weight-bold text-danger cursor"><%=Message%></span>
              </div>
            <% } %>
            

          </div>
        </div>
      </div>
    </div>
    
  </div>
</main>